body{
    background-image: url(kellywoodbuilder.png);
    font-family: Arial, Helvetica, sans-serif;
    
}

.container{
    position: relative;
    
}
.second-container{
    padding-bottom:10rem;
    padding-top: .5rem;
    
    position: relative;
   
   
}

.top-nav{
    left: 40rem;
    padding-top:6.4rem;
    position:absolute;
   
}
.image-buttons{
    border-bottom: 1px solid black;
    
}
.set-border{
    border-bottom: 1px solid rgb(58, 115, 0);
}
.home-button{
    height:34.5px;
}

.about-us-button{
    height:34.5px;
}
.services-button{
    height:34.5px;
}
.employment-button{
    height:34.5px;
}
.contact-us-button{
    height:34.5px;
}
.contact-info, .top-nav{
    float:right;
   
}
.contact-info{
    display: flex; 
    font-size: 12px;
    font-weight: 700;
    justify-content: space-between;
    left: 42rem;
    opacity: 0.85;
    position:absolute;
}
.location{
    border-right: 1px solid rgb(214, 214, 214);
    margin-right: 2.3rem;
    padding-right: 1rem;
 
}
.email-address{
    border-right: 1px solid rgb(214, 214, 214);
    margin-right: 2rem;
    padding-right: 1rem;
    
   
}
.logo{
    padding:2rem;
    padding-left: 16rem;
}

.main-photo{
    padding-left: 14.5rem;
}
.gallery{
    padding-left: 14.5rem;
    position:absolute;
}
.welcome{
    font-size: 11px;
    padding: 1rem;
    padding-left: 15rem;
    padding-top:2rem;
    position:absolute;
    top: 7rem;
   
}
.welcome-to, .welcome-content{
    font-weight: 400;
    line-height: 1.6;
    opacity: 0.8;
   
}
form{
    background-color: rgb(240, 240, 240);
   
}
input[type=text] {
    background-color: rgb(215, 215, 215);
    border: 1px solid white;
    color: black;
    
    line-height: 2em;
    margin-left: .5rem;
    margin-right: .8rem;
    
  
  }
.name{
    height:30px;
}
  input[type=email] {
    background-color: rgb(215, 215, 215);
    border: 1px solid white;
    color: black;
   
    line-height: 2em;
    margin-left: .5rem;
   
   
  }
.email{
    height:30px;
}
  textarea{
    background-color: rgb(215, 215, 215);
    border: 1px solid white;
    line-height: 2em;
    margin-left: .5rem;
   
  }
.contact-form{
    left: 57rem;
    margin: 0;
    padding-top: .5rem;
    
    position:absolute;
   
    top: 0;
    
}
 ul.bottom-nav li{
    display:inline;
   
}
.form-heading{
    padding:1rem;
}
.image-heading, .text-heading{
    display:inline;
   
}
.image-heading{
    position: relative;
    top: 1rem;
}
.text-heading{
    color: rgb(7, 99, 36);
    font-weight: 900;
    position: absolute;
    
    
    
}
.bottom-nav{
    font-size: 10px;
    font-weight: 600;
    left: 12rem;
    opacity: 0.8;
    position: absolute;
    top: 19rem;
}
li{
    padding-right: .05rem;
}
.copy-right{
    font-size: 10px;
    left: 14.5rem;
    opacity: 0.8;
    position: absolute;
    top: 20rem;
}
.dallas{
    font-size: 10px;
    left: 55rem;
    opacity: 0.7;
    position: absolute;
    top: 19rem;
}
.home-line{
    color: rgb(7, 99, 36);
}
.kwb{
        color: rgb(7, 99, 36);
        font-weight:800;
}
.welcome-to, .kwb{
    display:inline;
}
.read-more{
    color: rgb(7, 99, 36);
    font-size: 11px;
    font-weight: 800;
    left: 48.5rem;
    opacity: 1;
    padding-bottom: 1rem;
    padding-top: 1rem;
  
    position: absolute;
    text-align: right;
    text-decoration: none;
    top: 15rem;
}
.form-button{
    
    padding-right:12px;
    text-align: right;
}
.send-button{
    height: 28px;
    width: 4rem;
}
.home-icon{
    left: -1.2rem;
    position:absolute;
    top:.6rem;
    
}
.mail-icon{
    left: 14rem;
    position:absolute;
    top:.8rem;
   
    
}
.phone-icon{
    left: 24.6rem;
    position:absolute;
    top:.75rem;
    
    
}
